

#introScreen {
    background-color: rgb(177, 228, 177);
    margin-top: 30px;
}

#introTextBox {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.instructions {
    font-size: 24px;
}

#startBtn {
    align-content: center;
}

#introPic {
  margin-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: blue
}